﻿@model Isi2.Projekt.Web.Models.LogOnModel

@{
    ViewBag.Title = "Zaloguj";
}

<h2>Zaloguj</h2>
<p>
    Wprowadź nazwę użytkownika i hasło. @Html.ActionLink("Zarejestruj", "Register") w przypadku braku konta.
</p>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@Html.ValidationSummary(true, "Zalogowanie nie powiodło się. Popraw błędy i spróbuj ponownie.")

@using (Html.BeginForm()) {
    <div>
        <fieldset>
            <legend>Informacje o koncie</legend>

            <div class="editor-label">
                @Html.LabelFor(m => m.UserName)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(m => m.UserName)
                @Html.ValidationMessageFor(m => m.UserName)
            </div>

            <div class="editor-label">
                @Html.LabelFor(m => m.Password)
            </div>
            <div class="editor-field">
                @Html.PasswordFor(m => m.Password)
                @Html.ValidationMessageFor(m => m.Password)
            </div>

            <div class="editor-label">
                @Html.CheckBoxFor(m => m.RememberMe)
                @Html.LabelFor(m => m.RememberMe)
            </div>

            <p>
                <input type="submit" value="Zaloguj" />
            </p>
        </fieldset>
    </div>
}
