﻿@model Isi2.Projekt.Web.Models.RegisterModel

@{
    ViewBag.Title = "Zarejestruj";
}

<h2>Utwórz nowe konto</h2>
<p>
    Użyj poniższego formularza, aby utworzyć nowe konto. 
</p>
<p>
    Hasła muszą zawierać co najmniej następującą liczbę znaków: @Membership.MinRequiredPasswordLength.
</p>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true, "Utworzenie konta nie powiodło się. Popraw błędy i spróbuj ponownie.")
    <div>
        <fieldset>
            <legend>Informacje o koncie</legend>

            <div class="editor-label">
                @Html.LabelFor(m => m.UserName)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(m => m.UserName)
                @Html.ValidationMessageFor(m => m.UserName)
            </div>

            <div class="editor-label">
                @Html.LabelFor(m => m.Email)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(m => m.Email)
                @Html.ValidationMessageFor(m => m.Email)
            </div>

            <div class="editor-label">
                @Html.LabelFor(m => m.Password)
            </div>
            <div class="editor-field">
                @Html.PasswordFor(m => m.Password)
                @Html.ValidationMessageFor(m => m.Password)
            </div>

            <div class="editor-label">
                @Html.LabelFor(m => m.ConfirmPassword)
            </div>
            <div class="editor-field">
                @Html.PasswordFor(m => m.ConfirmPassword)
                @Html.ValidationMessageFor(m => m.ConfirmPassword)
            </div>

            <p>
                <input type="submit" value="Zarejestruj" />
            </p>
        </fieldset>
    </div>
}
