﻿@{
    ViewBag.Title = "Strona główna";
}
        
<h2>@ViewBag.Message</h2>
<p>
    Aby dowiedzieć się więcej o platformie ASP.NET MVC, odwiedź witrynę <a href="http://asp.net/mvc" title="Witryna sieci Web platformy ASP.NET MVC">http://asp.net/mvc</a>.
</p>
<div id="grid"></div>

@Html.Partial("_Index")